.title {
  height: 164px;
  border-top: 1px solid var(--border-primary);
  padding-top: 64px;
  margin-bottom: 64px;
   
  header {
    color: var(--text-headline);
    font: var(--headline);
    text-transform: uppercase;

    margin-bottom: 2px;
  }

  h2 {
    color: var(--text-primary);
    font: var(--h2);

    margin-bottom: 8px;
  }

  p {
    font: var(--text-sm);
    color: var(--text-secondary);
  }
}

#card1 {
  margin-bottom: 48px;

  img {
    object-fit: cover;
    border-radius: 28px;
    
    height: 350px;
    width: 1120px;
    margin-top: 64px;
  }
  li {
    color: var(--accent-blue);
  }

}

#card2 {
  margin-bottom: 48px;

  img {
    object-fit: cover;
    border-radius: 28px;
    
    height: 350px;
    width: 1120px;
  }
  li {
    color: var(--accent-blue);
  }
}

#card3 {
  margin-bottom: 24px;

  img {
    border-radius: 28px;    
    object-fit: cover;

    height: 350px;
    width: 1120px;
  }

  li:first-child {
    color: var(--accent-blue);
  }

  li:nth-child(2) {
   color: var(--accent-pink);
  }

  li:nth-child(3) {
   color: var(--accent-orange);
  }
}

.description {
  border-top: 1px solid var(--border-primary);
  padding-top: 24px;
  text-align: center;
  margin-bottom: 64px;
}